
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


.hero {
  display: flex;
  min-height: 70vh;
  width: 100%;
  justify-content: space-evenly;
  padding: 60px 40px;
  align-items: center;
  background-image: url('../public/assets/HeroImage.jpg'), linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.hero-copy {
  color: white;
}

.hero-copy h2 {
  font-size: 46px;
}

.hero-copy p {
  font-size: 24px;
}

.hero-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
}

.hero-form h2 {
  margin-top: 0; 
}

.tours-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
}

.about, .suggested-tours {
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.about p, .suggested-tours p {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.about-container {
  background-color: #f7f7fc;
  padding: 60px 30px;
}

.header {
  font: verdana;
  font-size: x-large;
}

.footer {
  margin-top: 4rem;
  padding: 1rem;
  background-color: black;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.destination-results {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
  padding: 80px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-form {
  margin-top: 10px;
} 

.card-details {
  display: flex;
  flex-direction: column;
  height: 160px;
}

.destination-card {
  position: relative;
}

.favorite-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.filled-favorite-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}