
body {
  margin: 0;
  padding: 0;
}

.hero img {
  width: 100%;
}

.header {
  font: verdana;
  font-size: x-large;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: black;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

label {
  display: block;
}

.main-section {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
  padding: 80px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  gap: 10px;
}

.submit-form {
  margin-top: 10px;
} 

.card-details {
  display: flex;
  flex-direction: column;
  height: 160px;
}

.destination-card {
  position: relative;
}

.favorite-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}